<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>

    <!--Componente Navbar -->
    <div>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">SPEED</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Biciclietas</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Repuestos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Specialized</a></li>
                                <li><a class="dropdown-item" href="#">Scott</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Contacto</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Consulta" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <!-- Uso del componente Carousel, permite ingresar imágenes como fondo de esta página-->
    <div>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{url_for('static', filename='Img/1.jpg')}}" alt="" class="d-block w-100" width="300px" height="600px" data>
                </div>
                <div class="carousel-item">
                    <img src="{{url_for('static', filename='Img/2.jpg')}}" class="d-block w-100" alt="..." width="300px" height="600px">
                </div>
                <div class="carousel-item">
                    <img src="{{url_for('static', filename='Img/3.jpg')}}" class="d-block w-100" alt="..." width="300px" height="600px">
                </div>
                <div class="carousel-item">
                    <img src="{{url_for('static', filename='Img/4.jpg')}}" class="d-block w-100" alt="..." width="300px" height="600px">
                </div>
                <div class="carousel-item">
                    <img src="{{url_for('static', filename='Img/5.jpg')}}" class="d-block w-100" alt="..." width="300px" height="600px">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <br>
    <!-- Uso del blockquote, tiene referencia a un bloque de texto en la pagina-->
    <!--Se usó la etiqueta de center-->
    <center>
        <div>
            <blockquote cite='https://www.tradeinn.com/...def-BLOCKQUOTE'>
                <p>
                    <strong>Tradeinn un e-commerce con 14 tiendas especializadas en deporte</strong> <br>
                    <div> <b>BIKEINN</b> la tienda de ciclismo online del grupo Tradeinn, tenemos todo lo que necesitas para tus rutas en bicicleta. Echa un vistazo a nuestra colección y encontrarás ofertas y precios baratos de las mejores marcas como Mavic,
                        Northwave, Sportful, Garmin, Spiuk, Castelli, Shimano, Ortlieb y más. ¿Eres un recién llegado al mundo del ciclismo o un profesional experimentado? Nuestra gama de artículos de ciclismo ha sido elegida para todos los gustos y así
                        encontrarás desde bicicletas de montaña diseñadas para abordar los terrenos más exigentes, hasta bicicletas para principiantes que tienen una excelente relación calidad-precio.
            </blockquote>
            </div>
</body>

</html>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>